.countdown {
  inline-size: 100vw;
  block-size: 100vh;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0.8) 100%),
    url("../images/background.jpeg") no-repeat center;
  background-size: cover;
}

.containerAll {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  block-size: 285px;
}

.container {
  display: flex;
  flex-direction: column;
  inline-size: 182px;
  block-size: 100%;
  gap: 24px;
}

.container-number {
  block-size: 214px;
  padding: 32px 16px;
  display: flex;
  align-items: center;
  background-color: var(--grey);
  border-radius: 16px;
}

.number {
  inline-size: 150px;
  block-size: 150px;
  font-weight: 800;
  color: var(--white);
  font-size: 128px;
  text-align: center;
}

.string {
  block-size: 47px;
  margin: 0;
  align-self: center;
  font-size: 40px;
  color: var(--white);
}

@media screen and (max-width: 768px) {
  .containerAll {
    gap: 16px;
    block-size: 180px;
  }

  .container {
    inline-size: 100px;
    block-size: 100%;
    gap: 14px;
  }

  .container-number {
    block-size: 80px;
    padding: 20px 10px;
    border-radius: 10px;
  }

  .number {
    inline-size: 90px;
    block-size: 90px;
    font-size: 60px;
  }

  .string {
    block-size: 28px;
    font-size: 24px;
  }
}

@media screen and (max-width: 425px) {
  .containerAll {
    gap: 8px;
    block-size: 89.86px;
  }

  .container {
    inline-size: 58.01px;
    block-size: 100%;
    gap: 7.65px;
  }

  .container-number {
    block-size: 68.21px;
    padding: 10px 5px;
    border-radius: 5.1px;
  }

  .number {
    inline-size: 47.8px;
    block-size: 47.8px;
    font-size: 40px;
  }

  .string {
    block-size: 14px;
    font-size: 12px;
  }
}